    - name: Install dnf plugins core (RHEL)
      dnf:
        name: dnf-plugins-core
        state: present

    - name: Add Docker repo (RHEL)
      command: >
        dnf config-manager --add-repo https://download.docker.com/linux/rhel/docker-ce.repo
      args:
        creates: /etc/yum.repos.d/docker-ce.repo

    - name: Install Docker packages (RHEL)
      dnf:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present