[Unit]
Description=TYPO3 Scheduler (Container)
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory={{ project_root }}

ExecStart=/usr/local/bin/docker-compose exec -T -u www-data {{ typo3_container }} \
    ./vendor/bin/typo3 scheduler:run

User=ec2-user