
- name: Install Docker in Debians and Ubuntu systems
  import_tasks: docker/install-docker-debian.yml
  when: ansible_os_family == "Debian"

- name: Install Docker in RedHat likes systems
  import_tasks: docker/install-docker-redhat.yml
  when: ansible_distribution != "Amazon" and ansible_os_family == "RedHat"

- name: Install Docker in Amazon like systems
  import_tasks: docker/install-docker-amazon.yml
  when: ansible_distribution == "Amazon"

# - name: Install Docker on SLES 15 SP5
#   import_tasks: docker/install-docker-suse.yml
#   when: ansible_distribution == "SLES" and ansible_distribution_version is version('15.5', '>=')

- name: Configure Crontab Docker
  import_tasks: docker/crontab.yml

- name: Configure Docker log rotation
  ansible.builtin.copy:
    dest: /etc/docker/daemon.json
    content: |
      {
        "log-driver": "json-file",
        "log-opts": {
          "max-size": "50m",
          "max-file": "3"
        }
      }
    owner: root
    group: root
    mode: '0644'

- name: Create Docker systemd override directory
  file:
    path: /etc/systemd/system/docker.service.d
    state: directory
    mode: '0755'
  when: proxy_url is defined and proxy_url != ""

- name: Configure Docker proxy
  copy:
    dest: /etc/systemd/system/docker.service.d/http-proxy.conf
    content: |
      [Service]
      Environment="HTTP_PROXY=http://{{ proxy_url }}" 
      Environment="HTTPS_PROXY=http://{{ proxy_url }}"
    mode: '0644'
  when: proxy_url is defined and proxy_url != ""

- name: Start and enable Docker service
  systemd:
    name: docker.service
    enabled: yes
    state: started
  ignore_errors: true

- name: Start and enable Containerd service
  systemd:
    name: containerd.service
    enabled: yes
    state: started
  ignore_errors: true

- name: Add current user to docker group in Amazon systems
  user:
    name: ec2-user
    groups: docker
    append: yes
  when: ansible_distribution == "Amazon"
  
- name: Add current user to docker group in non-Amazon systems
  user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: yes
  when: ansible_distribution != "Amazon"

- name: Ensure Docker Compose v5 is installed
  ansible.builtin.stat:
    path: /usr/local/bin/docker-compose
  register: docker_compose

- name: Ensure Docker Compose Plugin
  ansible.builtin.stat:
    path: /usr/libexec/docker/cli-plugins/docker-compose
  register: docker_compose_plugin

- name: Download Docker Compose binary
  get_url:
    url: https://github.com/docker/compose/releases/latest/download/docker-compose-linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: '0755'
  when: docker_compose.stat.exists == False

- name: Create symbolic link for Docker Compose plugin
  file:
    src: /usr/local/bin/docker-compose
    dest: /usr/libexec/docker/cli-plugins/docker-compose
    state: link
    force: yes
  when: 
    - docker_compose_plugin.stat.exists == False

- name: Ensure Docker Buildx is installed
  ansible.builtin.stat:
    path: /usr/libexec/docker/cli-plugins/docker-buildx
  register: docker_buildx

- name: Download Docker Buildx plugin
  get_url:
    url: https://github.com/docker/buildx/releases/download/v0.30.1/buildx-v0.30.1.linux-amd64
    dest: /usr/libexec/docker/cli-plugins/docker-buildx
    mode: '0755'
  when: docker_buildx.stat.exists == False

- name: Verify Docker Compose installation
  command: docker compose version
  environment:
    PATH: "{{ ansible_env.PATH }}:/usr/local/bin"
  register: docker_compose_version

- name: Verify Buildx installation
  command: docker buildx version
  environment:
    PATH: "{{ ansible_env.PATH }}:/usr/local/bin"
  register: docker_buildx_version

- name: Show Docker Buildx version
  debug:
    var: docker_buildx_version.stdout

- name: Show Docker Compose version
  debug:
    var: docker_compose_version.stdout 