- name: Install Docker in Debians and Ubuntu systems
  import_tasks: docker/install-docker-debian.yml
  when: ansible_os_family == "Debian" and not is_legacy_os

- name: Install Docker in RedHat likes systems
  import_tasks: docker/install-docker-redhat.yml
  when: ansible_distribution != "Amazon" and ansible_os_family == "RedHat" and not is_legacy_os

- name: Install Docker in Amazon like systems
  import_tasks: docker/install-docker-amazon.yml
  when: ansible_distribution == "Amazon" and not is_legacy_os

# - name: Install Docker on SLES 15 SP5
#   import_tasks: docker/install-docker-suse.yml
#   when: ansible_distribution == "SLES" and ansible_distribution_version is version('15.5', '>=')

- name: Install Docker in Amazon like systems
  import_tasks: docker/install-docker-legacy-os.yml
  when: is_legacy_os

- name: Configure Crontab Docker
  import_tasks: docker/crontab.yml

- name: Configure Docker log rotation
  ansible.builtin.copy:
    dest: /etc/docker/daemon.json
    content: |
      {
        "log-driver": "json-file",
        "log-opts": {
          "max-size": "50m",
          "max-file": "3"
        }
      }
    owner: root
    group: root
    mode: '0644'

- name: Create Docker systemd override directory
  file:
    path: /etc/systemd/system/docker.service.d
    state: directory
    mode: '0755'
  when: proxy_address is defined and proxy_address | length > 0

- name: Configure Docker proxy
  copy:
    dest: /etc/systemd/system/docker.service.d/http-proxy.conf
    content: |
      [Service]
      Environment="HTTP_PROXY=http://{{ proxy_address }}"
      Environment="HTTPS_PROXY=http://{{ proxy_address }}"
    mode: '0644'
  when: proxy_address is defined and proxy_address | length > 0

- name: Start and enable Docker service
  systemd:
    name: docker.service
    enabled: yes
    state: started
  ignore_errors: true

- name: Start and enable Containerd service
  systemd:
    name: containerd.service
    enabled: yes
    state: started
  ignore_errors: true

- name: Add current user to docker group in Amazon systems
  user:
    name: ec2-user
    groups: docker
    append: yes
  when: ansible_distribution == "Amazon"
  
- name: Add current user to docker group in non-Amazon systems
  user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: yes
  when: ansible_distribution != "Amazon"

- name: Download Docker Compose binary
  get_url:
    url: https://github.com/docker/compose/releases/latest/download/docker-compose-linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: '0755'
  when: not proxy_address is defined or proxy_address | length == 0

- name: Download Docker Compose using curl with proxy
  ansible.builtin.command: >
    curl -x http://{{ proxy_address }} -L
    https://github.com/docker/compose/releases/latest/download/docker-compose-linux-x86_64
    -o /usr/local/bin/docker-compose
  args:
    creates: /usr/local/bin/docker-compose
  when: proxy_address is defined and proxy_address | length > 0

- name: Verify Docker Compose installation
  command: docker-compose --version       # Commande introuvble sans l'ajout du chemin dans le PATH de Ansible
  environment:
    PATH: "{{ ansible_env.PATH }}:/usr/local/bin"
  register: docker_compose_version

- name: Show Docker Compose version
  debug:
    var: docker_compose_version.stdout
