- name: Create directory structure
  file:
    path: "{{ ansible_env.HOME }}/traefik/traefik"
    state: directory
    mode: '0755'
    #recurse: yes

- name: Copy Docker Compose file
  copy:
    src: files/docker-compose.yml
    dest: "{{ ansible_env.HOME }}/traefik/docker-compose.yml"
    mode: '0644'

- name: Bring up services with docker-compose
  community.docker.docker_compose_v2:
    project_src: "{{ ansible_env.HOME }}/traefik"
    recreate: always
    build: policy
    pull: always
    remove_orphans: true
    services: []
    state: present
