---
- name: Run Database Export Playbook
  hosts: all
  vars_files:
    - vars/legacy_os.yml
  vars:
    region: "{{ lookup('env','AWS_REGION') }}"
    bucket_name: "{{ lookup('env','AWS_SSM_BUCKET') }}"
    dump_type: "{{ lookup('env','DUMP_TYPE') }}"
    server_username: "{{ lookup('env','SERVER_USERNAME') }}"
    projet_client: "{{ lookup('env','CLIENT_PROJECT') }}"
    ansible_aws_ssm_bucket_name: "{{ lookup('env','AWS_SSM_BUCKET') }}"
    ansible_aws_ssm_region: "{{ lookup('env','AWS_REGION') }}"
    proxy_address: "{{ lookup('env','PROXY_ADDRESS') | default('') }}"

  pre_tasks:
    - name: Determine if host matches legacy OS
      set_fact:
        is_legacy_os: >-
          {{ legacy_os 
            | selectattr('name', 'equalto', ansible_distribution)
            | selectattr('major', 'equalto', ansible_distribution_major_version)
            | list | length > 0
          }}

    - name: Check proxy configuration
      import_tasks: general/configuration-proxy.yml
      become: true
      when: proxy_address is defined and proxy_address | length > 0

    - name: Get var from SSM
      import_tasks: aws/get-db-ssm.yml
      become: true
      when: env_type == "ecs"

    - name: Get var from .env file
      import_tasks: general/get-db-var.yml
      become: true
      when: env_type == "onpremise" or env_type == "ec2"

    - name: Ensure Common packages are installed
      import_tasks: general/install-common-packages.yml
      become: true

    - name: Ensure Docker is installed
      import_tasks: general/install-docker.yml
      become: true

  tasks:
    - name: Export Database
      import_tasks: general/run-export-db.yml