---
- name: Run Database Export Playbook
  hosts: all
  vars:
    region: "{{ lookup('env','AWS_REGION') }}"
    bucket_name: "{{ lookup('env','AWS_SSM_BUCKET') }}"
    dump_type: "{{ lookup('env','DUMP_TYPE') }}"
    server_username: "{{ lookup('env','SERVER_USERNAME') }}"
    projet_client: "{{ lookup('env','CLIENT_PROJECT') }}"
    ansible_aws_ssm_bucket_name: "{{ lookup('env','AWS_SSM_BUCKET') }}"
    ansible_aws_ssm_region: "{{ lookup('env','AWS_REGION') }}"
    legacy_os_list: # ansible mi-XXXX -i inventory2.ini -m setup | grep -E "ansible_distribution|ansible_distribution_major_version
      - "SLES 15"
      - "Debian 9"
      - "Amazon 2"
      - "CentOS 7"
      - "RedHat 7"
      - "RedHat 8"
      - "AlmaLinux 8"

  pre_tasks:
    - name: Get var from SSM
      import_tasks: aws/get-db-ssm.yml
      become: true
      when: env_type == "ecs"

    - name: Get var from .env file
      import_tasks: general/get-db-var.yml
      become: true
      when: env_type == "onpremise" or env_type == "ec2"

    - name: Ensure Common packages are installed
      import_tasks: general/install-common-packages.yml
      become: true
      when: >
        (ansible_distribution ~ " " ~ ansible_distribution_major_version) not in legacy_os_list

    - name: Ensure Docker is installed
      import_tasks: general/install-docker.yml
      become: true
      when: >
        (ansible_distribution ~ " " ~ ansible_distribution_major_version) not in legacy_os_list

  tasks:
    - name: Export Database
      import_tasks: general/run-export-db.yml