ansible_connection: amazon.aws.aws_ssm
ansible_aws_ssm_region: {{ ssm_region }}
ansible_aws_ssm_bucket_name: {{ bucket_name }}
ansible_aws_ssm_s3_addressing_style: virtual
env_type: {{ env_type }}
dump_type: {{ dump_type }}
server_username: {{ server_username }}
projet_client: {{ projet_client }}
ansible_python_interpreter: /usr/bin/python3
